body{
    background-image:linear-gradient(0,0,0,0.6),rgba(0,0,0,0.6) url(pic1.jpg);
    height:100vh;
    background-size: cover;
    background-position:center;
}

.Login-page{
    width: 360px;
    padding: 15% 0 0;
    margin:auto;
}

.Form{
    position:relative;
    z-index: index 2; 
    background: rgba(7,40,195,0.8);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45;
    text-align: center;
}
.Form input{
    font-family:"Roboto",sans-serif ;
    outline:2;
    background: #f2f2f2;
    width: 100;
    border: 0;
    margin:0 0 15px;
    padding: 20px;
    box-sizing:border-box;
    font-size:14px;


}
.Form button{
    font-family:"Roboto",sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 20px;
    color:white;
    font-size: 14px;
    cursor:pointer;
 
}.Form button:hoover,Form button:active{
    background:#43A047;

}
.Form.message{
    margin: 15px 0 0;
    color:blue;
    font-size: 12px;

}
.Form.Form.message a{
    color: #4CAF50;
    text-decoration:none;

}
.Form.register-form{
    display: none;
}
